
table { 
	border: 4px solid floralwhite; 
}

td:hover {
		background-color: bisque;
		color: black;
}

tr, th {
	background-color: indianred;
	color: cornsilk;
}

tr, td {
	background-color: lightsalmon;
	color: white; 
}

